!!!
%html
%head
%title Test Email
%body
%h1 Hello!
%p
This is a test email.
%p
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae massa vel justo porttitor consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
%p
Phasellus nec accumsan nisi. Integer vel vestibulum arcu, sed consequat nulla. Curabitur aliquet nisi vitae purus vehicula, quis interdum justo bibendum.
%p
Nunc non lacinia sapien, sed varius neque. Proin nec nunc nec odio viverra mattis. Sed nec commodo dolor.